$bgcolor: lightgreen;
$textcolor: forestgreen;
$fontsize: 18px;
$border: 1px solid black;

#play {
    background-color: $bgcolor;
    color: $textcolor;
    font-size: $fontsize;
    border: $border;
}